 @import 'normalize';

 /*basic styles*/
 @import url(//fonts.googleapis.com/css?family=Roboto:400,300);
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 
 html, body {
	margin: 0;
}
html {
	background: rgb(185, 187, 185);
}
body {
	font: 100% Lato, Helvetica, sans-serif;
	
	width: 40%;
	margin: 0 auto;
	padding: 2%;
	line-height: 1.6;
}

.heading {
  background-color: #2196F3;
  height: 6rem;
}
.heading-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  
}
.names {
  margin-top: -2rem;
  text-align: center;
}
 input,
 button,
 .SearchBox:before {
   padding: .35em .75em;
   border: none;
   font-size: 1.4rem;
   text-decoration: none;
   outline: none;
  
 }
 
 .Field {
   display: flex;
   padding-top: 10%;
   justify-content: center;
   
 }
 
 .Field--is-search:before {
   flex: 0 0 2.75em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

 .Field--is-search:before {
   border-radius: 2px 0 0 2px;
   background: #ccc;
   
   font-family: 'FontAwesome';
   font-weight: normal;
   font-style: normal;
   color: #797979;
   
   content: "\f002";
 }
 
 .SearchBox-submitBtn {
   border-radius: 0 2px 2px 0;
   background: #2196F3;
   font-weight: 300;
   text-transform: uppercase;
   color: #EDFFEC;
 }

 .select {
   outline: none;
   
 }