 @import 'normalize';

 /*basic styles*/
 @import url(//fonts.googleapis.com/css?family=Roboto:400,300);
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
 
 html, body {
	margin: 0;
}
html {
	background: rgb(185, 187, 185);
}
body {
	font: 100% Lato, Helvetica, sans-serif;
	
	width: 40%;
	margin: 0 auto;
	padding: 2%;
	line-height: 1.6;
}


 input,
 button,
 .SearchBox:before {
   padding: .35em .75em;
   border: none;
   font-size: 1.1rem;
   text-decoration: none;
   outline: none;
  
 }
 
 
 .Field {
   display: flex;
   padding-top: 10%;
 }
 
 .SearchBox-query {
   flex: 1 0 8em;
 }
 
 .SearchBox-submitBtn {
  
   flex: 0 0 auto;
 }
 
 .Field--is-search:before {

   flex: 0 0 2.75em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }
 
 .SearchBox {
   margin: 3rem auto 0;
   max-width: 80%;
 }
 
 .Field--is-search:before {
   border-radius: 2px 0 0 2px;
   background: #ccc;
   
   font-family: 'FontAwesome';
   font-weight: normal;
   font-style: normal;
   color: #797979;
   
   content: "\f002";
 }
 
 .SearchBox-query {
   background: #e9e9e9;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 
 .SearchBox-query:focus {
   background: white;
 }
 
 .SearchBox-submitBtn {
   border-radius: 0 2px 2px 0;
   background: #2196F3;
   font-weight: 300;
   text-transform: uppercase;
   color: #EDFFEC;
 }

 .select {
   outline: none;
 }